<form class="box" action="/station/{{station._id}}/addreadings" method="POST">
  <label>Enter Weather Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="number" placeholder="Weather Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Temperature in C" name="temp">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Wind Speed km/h" name="windspeed">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Pressure" name="pressure">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Track</button>
</form>