<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind Speed</th>
            <th>Pressure</th>
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td>
                {{lastReading.code}}
            </td>

            <td>
                {{lastReading.temp}}
            </td>
            <td>
                {{lastReading.windspeed}}
            </td>
            <td>
                {{lastReading.pressure}}
            </td>
        </tr>

    </tbody>
</table>