{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop
  </h3>
  <div class="section" style="font-size: large;">
    <p>
      WeatherTop, the coolest weather station in town! It's like the Gandalf of meteorology, standing tall and wise, collecting user inputs for all things weather-related.
      Imagine it as the grand stage where weather aficionados become rockstars, jamming out to their meteorological tunes.
      WeatherTop doesn't just report the forecast; it transforms it into a symphony of community collaboration.
      So, if you're ready to ride the WeatherTop wave, bring your weather wisdom and join the meteorological party of the century! 
    </p>
    <div style="margin-top: 3em;">
      <img src="https://i.pinimg.com/564x/b4/7e/a1/b47ea1848a4c3d640d1271eea9fb3d81.jpg">
    </div>
  </div>
</section>   

   