{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop
  </h3>
  <div class="section">
    <p>
      WeatherTop, the coolest weather station in town! It's like the Gandalf of meteorology, standing tall and wise, collecting<br> user inputs for all things weather-related.
      Imagine it as the grand stage where weather aficionados become rockstars, jamming out to their<br> meteorological tunes.
      WeatherTop doesn't just report the forecast; it transforms it into a symphony of community collaboration.<br>
      So, if you're ready to ride the WeatherTop wave, bring your weather wisdom and join the meteorological party of the century! 
    </p>
  </div>
</section>