{{> welcome-menu}}

<section class="section">
    <div style="margin-top: 4em; font-size: x-large; position:absolute;">
        <p>Sign up or Log in to the service</p>
    </div>    
    <div style="position: absolute; margin-left: 30em; margin-top: 5em;"> 
        <img src="https://kidsactivitiesblog.com/wp-content/uploads/2022/07/bigstock-Hurricane-And-Magnifying-Glass-290973046-610x407-1.jpeg">       
    </div>
</section>