{{> menu}}

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <div class="title">
                             {{station.name}}
                        </div>
                        {{> latest-readings}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> list-readings}}
    {{> add-readings}}
</section>